<%#
  To create a form for a resource (i.e. a model), use
  the form_wth helper instead of formm_tag. Its usual
  arguments are:
  - A named argument 'model' which is assigned an
  instance of a model (i.e. a new question)
  - A named argument 'local', which will prevent
  the form from submitting its data using AJAX.
  - A block that is passed the form object, where
   we build the HTML inside the form (i.e. labels,
   inputs, submission buttons, etc.)
    All data from the input fields a form built with this will have its name-value nested in a hash named
   after the class of the passed in model
   (e.g. <input type="text" name="question[title]" id="question_title"> => { "question": { "title": "What?"} })
%>
<%= render '/shared/signuperrors', obj: @question%>

<div class="container-fluid offset-2">
<div class="form-group row ">
    <div class="col-sm-10">
        <%= form_for(@question, :html => {class:'form-horizontal', role: "form"}) do |f| %>
        <div class="form-group">
            <div class="control-label col-sm-2">
                <%= f.label :title%>
            </div>
            <div class="col-sm-10">
                <%= f.text_field :title, class: "form-control", placeholder: "Name of question", autofocus: true %>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-sm-2">
                <%= f.label :body%>
            </div>
            <div class="col-sm-10">
                <%= f.text_area :body,rows:10,class: "form-control", placeholder: "Description", autofocus: true %>
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-2">
                <%= f.submit class: 'btn btn-primary btn-lg' %>
            </div>
        </div>

        <%end%>

    </div>
</div>
</div>
<div class="col-4 offset-4">
    [ <%= link_to  "Cancel create and return to question listing", questions_path %> ]
    </div>